*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    list-style: none;
}

:root{
    --gray: rgb(242, 242, 242);
    --dark-blue: rgb(59, 103, 210);
    --soft-blue: rgb(120, 153, 236);
    --darker-blue: rgb(21, 73, 175);
}

header{
    background-image: url(./images/header-bg-sm.svg);
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

body{
    background-color: var(--gray)
}

.logo{
    min-width: 100px;
    width: 100px;
    height: auto;
}

.contact-me{
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    border-radius: 12px;
    font-size: 12px;
}

.contact-me:hover{
    background-color: var(--soft-blue);
    border-color: var(--soft-blue);
}

.header-img-cont {
    height: 560px;
}

.header-img{
    height: 160px;
}

.about-me-caja{
    width: 70%;
    border: 1px solid var(--soft-blue);
    border-radius: 20px;
}

.about-me-row{
    width: 70%;
    border-top: 1px solid var(--soft-blue);
    border-left: 1px solid var(--soft-blue);
    border-right: 1px solid var(--soft-blue);
    border-radius: 20px;
}


.about-me-box h1{
    font-size: 30px;
    text-align: center;
    color: var(--dark-blue);
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

p{
    color: grey;
}

.about-me-box p{
    font-size: 15px;
    text-align: center;
    line-height: normal;
    padding: 0px 20px 30px 20px;
}

.cards{
    position:relative;
    bottom:40px;
    padding: 0px 20px;
}

.card-icon{
    width: 100px;
}

.card-icon1{
    width: 130px;
}

.Subtitle1{
    color: var(--dark-blue);
}

ul{
    padding:0px;
    color: grey;
}

.title2{
    background-color: var(--gray);
    position:relative;
    text-align: center;
    bottom:70px;
}

.proyects{
    position: relative;
    bottom: 60px;
}

.gray-btn{
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    color: rgb(46, 46, 46);
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    
}

.text-proyects{
    width: 80%;
}

a:link{
    text-decoration: none;
}

.footer{
    border-top: 1px solid var(--dark-blue);
    width: 95%;
    margin:auto;
    padding-top: 20px;
}

.icon-footer{
    width: 30px;
    height: auto;
}

.footer-container{
    display:flex;
    flex-direction: row;
}

.icon-footer2{
    width: 20px;
}

footer p {
    color: var(--dark-blue);
}

@media (max-width:375px){
    .title2{
        background-color: var(--gray);
        position:relative;
        text-align: center;
        bottom:70px;
        width: 220px;
    }

    .about-me-row{
        width: 90%;
        border: 1px solid var(--soft-blue);
        border-radius: 20px;
        padding: 10px;
        padding-top: 40px;
    }

    .cards{
        position:relative;
        top:60px;
        padding: 0px 20px;
    }
    
    .proyects{
        position: relative;
        bottom: 150px;
    }

    .proyectos{
        margin-top:100px;
    }

    .title2{
        background-color: var(--gray);
        position:relative;
        text-align: center;
        bottom:120px;
    }
}

@media (min-width:375px){
    header{
        background-image: url(./images/header-bg-sm.svg);
        min-height: 100vh;
        background-repeat: repeat-x;
    }

    
}

@media (min-width:576px){
    
    .about-me-row{
        width: 90%;
        border-top: 1px solid var(--soft-blue);
        border-radius: 20px;
        padding: 10px;
        padding-top: 40px;
        margin-top: 60px;
        
    }

    .cards{
        position:relative;
        top:30px;
        
    }

    .title2{
        background-color: var(--gray);
        width: 350px;
        position: absolute;
        bottom: 120px;
        right: 350px;
    }    
}
